@FirstBlue:#031e2f;
@SecondBlue:#00549f;
@ThirdBlue:#00a9e0;

@FB:focobold;
@FR:focoregular;
@Dashed: 1px dashed #cccccc;


@font-face {
    font-family: 'focobold';
    src: url('../fonts/foco_bd-webfont.woff2') format('woff2'),
         url('../fonts/foco_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'focoregular';
    src: url('../fonts/foco_rg-webfont.woff2') format('woff2'),
         url('../fonts/foco_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color: #f6f6f6;
	font-size: 16px;
	font-family: sans-serif;
	color: #505050;
}

header{
	display: block;
	background-color: @FirstBlue;
	padding: 10px 0;

	.navbar-default {
	    background-color: transparent;
	    border-color: transparent;
	    border: none;
	}

	.navbar {
	    position: relative;
	    min-height: auto;
	    margin-bottom:0px;
	    border: 1px solid transparent;
	}

	.current-step{
		color: #FFFFFF;
		margin: 20px 0 0 0;
		padding: 0;
		font-size: 26px;
		font-family: @FB;
	}

	.brand-image {
		display: block;
	}
}

//WORKSPACE

.workspace{
	display: block;
	background-color: #FFFFFF;
	margin: 15px 0 0 0;
	padding: 15px;

	/*.top{
		border: 1px solid red;

		.col-sm-3{
			border:1px solid green;
		}
	}*/
	.mb10{
		margin-bottom: 10px;
	}
	
	.divider01{
		display: block;
		width: 100%;
		height: 2px;
		border-top:@Dashed;
	}

	.caption{
		font-size: 18px;
		font-family: @FR;
		display: block;
		padding: 10px 15px;
		background:  rgba(0, 169, 224, 0.13);
		border-radius: 3px;
		margin: 0 0 10px 0;
		float: left;
		width: 100%;
	}

	.btns-container{
		display: block;
		border-top: 1px dashed #cccccc;
		padding-top:10px;
		float: left;
		width: 100%;
	}

	.btn-continue{
		background: @ThirdBlue;
		color: #FFFFFF;
		padding: 10px 30px;
		border: none;
		font-size: 16px;
		margin-top: 10px;
	}

	.circle{
		display: block;
		background-color:#e5e5e5 ;
		display: block;
		width: 250px;
		height: 250px;
		margin: 40px auto;
		border-radius: 50%;
		text-align: center;
		position: relative;
		cursor: pointer;
		color: #989898;

		.box{
			display: inline-block;
			width: 180px;
			margin: 20px auto 0 auto;
			position: absolute;
			left: 0;
			right: 0;
			top: 15%;

			.radio-inline{
				input[type=radio]{
					margin-top: 15px;
				}
			}

			.duration{
				font-size: 32px;
				font-family: @FB;
			}

			.cost{
				font-size:50px;
				font-family: @FB;
				margin-top: 0;
				line-height: 1;

			}

			.currency{
				font-weight: normal;

			}
		}
	}

	.active-c{
		background: @SecondBlue;
		color: #FFFFFF;
	}
}


.panel-group {

	.panel + .panel{
		margin-top: 0;
	}

	.panel {
		box-shadow: none;
    	margin-top: 0px;
    	margin-bottom: 0;
    	overflow: hidden;
    	border-radius: 3px;
    	border:1px solid rgba(0, 0, 0, 0.1);


		.panel-heading{
			padding: 0;
			border: none;

			.panel-title{
				font-size: 16px;
				a{
					display: block;
					padding: 10px 15px;
					text-decoration: none;
					font-family: @FB;

					&:hover{
						background-color: #eaeaea;
					}
				}
			}
		}
	}
}

.panel-group .panel-heading + .panel-collapse .panel-body {
   	/*border-top: 1px solid #ddd;*/
   	border-top: none;
}


.active-panel{
    background-color: @ThirdBlue !important;
    color: #FFFFFF;

    a{
    	&:hover{
    		background-color: @ThirdBlue !important;
    	}
    }
}

.panel-collapse{
	.panel-body{
		form{
			label{
				color: #505050;
				text-align: left;
				font-size: 15px;
			}

			.under{
				text-decoration: underline;;
			}

			.radio-inline{
				span{
					font-weight: bold;
				}
			}
		}
	}
}

@media only screen and (max-width: 1199px) {
	.workspace{
		.circle{
			width: 205px;
			height: 205px;
			margin: 40px auto;

			.box{
				display: inline-block;
				width: 180px;
				margin: 10px auto 0 auto;
				position: absolute;
				left: 0;
				right: 0;
				top: 15%;

				.radio-inline{
					input[type=radio]{
						margin-top: 15px;
					}
				}

				.duration{
					font-size: 28px;
					font-family: @FB;
				}

				.cost{
					font-size:44px;
					font-family: @FB;
					margin-top: 0;
					line-height: 1;
				}
			}
		}
	}
}


@media only screen and (max-width: 991px) {
	.workspace{
		.circle{
			width: 150px;
			height: 150px;
			margin: 40px auto;

			.box{
				display: inline-block;
				width: 90%;

				.radio-inline{
					input[type=radio]{
						margin-top: 5px;
					}
				}

				.duration{
					font-size: 18px;
					font-family: @FB;
				}

				.cost{
					font-size:32px;
					font-family: @FB;
					margin-top: 0;
					line-height: 1;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.workspace{
		.circle{
			width: 250px;
			height: 250px;

			.box{
				width: 180px;

				.radio-inline{
					input[type=radio]{
						margin-top: 15px;
					}
				}

				.duration{
					font-size: 32px;
				}

				.cost{
					font-size:50px;

				}

				.currency{
					font-weight: normal;

				}
			}
		}
	}
}












