@font-face {
  font-family: 'focobold';
  src: url('../fonts/foco_bd-webfont.woff2') format('woff2'), url('../fonts/foco_bd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'focoregular';
  src: url('../fonts/foco_rg-webfont.woff2') format('woff2'), url('../fonts/foco_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f6f6f6;
  font-size: 16px;
  font-family: sans-serif;
  color: #505050;
}
header {
  display: block;
  background-color: #031e2f;
  padding: 10px 0;
}
header .navbar-default {
  background-color: transparent;
  border-color: transparent;
  border: none;
}
header .navbar {
  position: relative;
  min-height: auto;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
header .current-step {
  color: #FFFFFF;
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 26px;
  font-family: focobold;
}
header .brand-image {
  display: block;
}
.workspace {
  display: block;
  background-color: #FFFFFF;
  margin: 15px 0 0 0;
  padding: 15px;
  min-height: 750px;
  /*.top{
		border: 1px solid red;

		.col-sm-3{
			border:1px solid green;
		}
	}*/
  /*TABS*/
  /*TABS*/
  /*CTA-Container*/
  /*CTA-Container*/
}
.workspace .message {
  display: block;
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}
.workspace .message p {
  display: block;
}
.workspace .message .btns {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}
.workspace .mb10 {
  margin-bottom: 10px;
}
.workspace .bubble {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.workspace .bubble h2 {
  color: #00549f;
  margin: 20px auto 10px auto;
  padding: 0;
  text-align: center;
  font-family: focobold;
}
.workspace .bubble p {
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}
.workspace .big-data {
  display: block;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.02);
}
.workspace .big-data .data {
  display: block;
}
.workspace .big-data .data hr {
  border-top: 1px solid #989898;
}
.workspace .big-data .data .check {
  display: inline-block;
}
.workspace .big-data .data .mt40 {
  margin-top: 40px;
}
.workspace .big-data .data .wrapper {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
}
.workspace .big-data .data .wrapper label {
  font-size: 28px;
  font-family: focobold;
  color: #00549f;
  display: block;
  margin: 0;
}
.workspace .big-data .data .wrapper span {
  font-size: 22px;
  font-family: focoregular;
  color: #989898;
  display: block;
  margin: 0;
  line-height: 1;
  margin-bottom: 10px;
}
.workspace .big-data .data .wrapper span b {
  font-family: focobold;
}
.workspace .bordes-no-copiar {
  display: block;
  border: 1px solid red;
}
.workspace .divider01 {
  display: block;
  width: 100%;
  height: 2px;
  border-top: 1px dashed #cccccc;
}
.workspace .caption {
  font-size: 18px;
  font-family: focoregular;
  display: block;
  padding: 10px 15px;
  background: rgba(0, 169, 224, 0.13);
  border-radius: 3px;
  margin: 0 0 10px 0;
  width: 100%;
}
.workspace .btns-container {
  display: block;
  border-top: 1px dashed #cccccc;
  padding-top: 10px;
  float: left;
  width: 100%;
}
.workspace .btn-continue,
.workspace .btn-back {
  background: #00a9e0;
  color: #FFFFFF;
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  margin-top: 10px;
}
.workspace .btn-back {
  background-color: #616161;
  color: #FFFFFF;
}
.workspace .circle {
  background-color: #e5e5e5 ;
  display: block;
  width: 250px;
  height: 250px;
  margin: 40px auto;
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: #989898;
}
.workspace .circle .box {
  display: inline-block;
  width: 180px;
  margin: 20px auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
}
.workspace .circle .box .radio-inline input[type=radio] {
  margin-top: 15px;
}
.workspace .circle .box .duration {
  font-size: 32px;
  font-family: focobold;
}
.workspace .circle .box .cost {
  font-size: 50px;
  font-family: focobold;
  margin-top: 0;
  line-height: 1;
}
.workspace .circle .box .currency {
  font-weight: normal;
}
.workspace .nav-tabs {
  padding: 0;
  background: #e5e5e5;
}
.workspace .nav-tabs li {
  display: inline-block;
  width: 25%;
  text-align: center;
  border-right: 1px solid #989898;
}
.workspace .nav-tabs li:last-child {
  border-right: none;
}
.workspace .nav-tabs li a {
  color: #989898;
  margin: 0;
  border-right: none;
  border-bottom: none;
  border-left: none;
  line-height: 1;
  padding: 13px 0px;
  font-family: focobold;
  border-radius: 0;
}
.workspace .nav-tabs .active {
  border-right: none;
}
.workspace .nav-tabs .active a {
  color: #FFFFFF;
  border: none;
  border-radius: 0;
  background-color: #00549f;
}
.workspace .nav-tabs .active a:hover,
.workspace .nav-tabs .active a:active,
.workspace .nav-tabs .active a:focus {
  border: none;
  background-color: #00549f;
  color: #FFFFFF;
}
.workspace .tab-content {
  padding: 15px;
}
.workspace .tab-content .tab-pane iframe {
  border: 1px solid #cccccc;
}
.workspace .tab-content .tab-pane .representant {
  display: block;
  margin: 10px 0 0 0 ;
}
.workspace .tab-content .tab-pane .text-fill {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.workspace .tab-content .tab-pane .text-fill .control-width {
  width: 150px;
  display: inline-block;
  margin: 10px 0;
}
.workspace .tab-content .tab-pane .file-uploads {
  display: block;
  padding: 0px;
  margin: 20px 0;
}
.workspace .tab-content .tab-pane .file-uploads .custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
.workspace .tab-content .tab-pane .file-uploads .upload {
  display: inline-block;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
  float: left;
  position: absolute;
  top: -3px;
  right: 0;
  height: 34;
  padding: 5px 12px;
  background: #00549f;
  color: #FFFFFF;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0px;
}
.workspace .payment {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.workspace .payment .btn-pay {
  background-color: #e5e5e5;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #FFFFFF;
  margin: 10px 0 0 0;
  border: none;
  color: #989898;
}
.workspace .payment .check {
  text: center;
}
.workspace .active-c {
  background-color: #00549f !important;
  color: #FFFFFF !important;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-group .panel {
  box-shadow: none;
  margin-top: 0px;
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.panel-group .panel .panel-heading {
  padding: 0;
  border: none;
}
.panel-group .panel .panel-heading .panel-title {
  font-size: 16px;
}
.panel-group .panel .panel-heading .panel-title a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-family: focobold;
}
.panel-group .panel .panel-heading .panel-title a:hover {
  background-color: #eaeaea;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  /*border-top: 1px solid #ddd;*/
  border-top: none;
}
.active-panel {
  background-color: #00a9e0 !important;
  color: #FFFFFF;
}
.active-panel a:hover {
  background-color: #00a9e0 !important;
}
.panel-collapse .panel-body form label {
  color: #505050;
  text-align: left;
  font-size: 15px;
}
.panel-collapse .panel-body form .under {
  text-decoration: underline;
}
.panel-collapse .panel-body form .radio-inline span {
  font-weight: bold;
}
.costume-m .modal-header {
  border-bottom: none;
}
.costume-m .modal-body {
  text-align: center;
}
.costume-m .modal-body .wrapper {
  display: block;
  width: 85%;
  margin: 0 auto;
}
.costume-m .modal-body .wrapper h2 {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 45px;
  color: #00549f;
  font-family: focobold;
}
.costume-m .modal-body .wrapper p {
  font-size: 17px;
}
.loader-container {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}
.loader-container .box {
  display: block;
  position: absolute;
  top: 5%;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}
.loader-container .box .load-text {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  position: absolute;
  top: 41%;
  left: 0;
  right: 0;
}
.loader-container .box .loader {
  border: 16px solid #dedede;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 160px;
  height: 160px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1199px) {
  .workspace .circle {
    width: 205px;
    height: 205px;
    margin: 40px auto;
  }
  .workspace .circle .box {
    display: inline-block;
    width: 180px;
    margin: 10px auto 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
  }
  .workspace .circle .box .radio-inline input[type=radio] {
    margin-top: 15px;
  }
  .workspace .circle .box .duration {
    font-size: 28px;
    font-family: focobold;
  }
  .workspace .circle .box .cost {
    font-size: 44px;
    font-family: focobold;
    margin-top: 0;
    line-height: 1;
  }
}
@media only screen and (max-width: 991px) {
  .workspace .circle {
    width: 150px;
    height: 150px;
    margin: 40px auto;
  }
  .workspace .circle .box {
    display: inline-block;
    width: 90%;
  }
  .workspace .circle .box .radio-inline input[type=radio] {
    margin-top: 5px;
  }
  .workspace .circle .box .duration {
    font-size: 18px;
    font-family: focobold;
  }
  .workspace .circle .box .cost {
    font-size: 32px;
    font-family: focobold;
    margin-top: 0;
    line-height: 1;
  }
}
@media only screen and (max-width: 767px) {
  .workspace .circle {
    width: 250px;
    height: 250px;
  }
  .workspace .circle .box {
    width: 180px;
  }
  .workspace .circle .box .radio-inline input[type=radio] {
    margin-top: 15px;
  }
  .workspace .circle .box .duration {
    font-size: 32px;
  }
  .workspace .circle .box .cost {
    font-size: 50px;
  }
  .workspace .circle .box .currency {
    font-weight: normal;
  }
}
